$white: #fff;
$dark-text: #333;
$hover-nav: #b0b0b0;
$light-green: #fafbf9;
$grey-green: #f0f0ef;
$dark-green: #2e5408;
$bright-green: #27ae60;
$bright-green-hover: #4fdb8a;
$shadow: rgba(0, 0, 0, .1);
