.publication-container {
  display: inline-block;
  margin-bottom: 5em;
  position: relative;
  width: 100%;
  z-index: 2;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
    z-index: 1;
  }
}

.publication-container__content {
  @include span(first 4 of 8);

  &:nth-last-of-type(1) {
    @include span(last 4 of 8);
    @include vertical-center();
    right: 0;
  }

  @include bp(lg) {
    text-align: center;
    width: 100%;

    &:nth-last-of-type(1) {
      position: relative;
      transform: translateY(0);
      width: 100%;
      z-index: 10;
    }

    > .btn--round {
      display: inline-block;
    }
  }
}

.publication-container__image {
  max-width: 80%;

  @include bp(lg) {
    display: block;
    margin: 0 auto 5em;
    min-width: 250px;
    width: 60%;
  }

  @include bp(sm) {
    margin-bottom: 3em;
  }
}
